/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
/* ==========================
   common style start
============================== */
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}
button{
    color: #111;
    font-size: 25px;
    font-weight: 500;
    background-color: #cdc7c6;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: none;
}
button a{
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    text-decoration: none;
    position: relative;
    z-index: 10;
    box-shadow: 0;
}
button i{
    position: relative;
    z-index: 10;
}
button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    left: 0;
    top: 0;
    background-color: #b30a07;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    z-index: 5;
}
button:hover::after{
    transform: scaleX(1);
}
button:hover a{
    color: #fff;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
/* ==========================
   common style end
============================== */

/* ==========================
   header style start
============================== */
.banner-container{
    display: flex;
    width: 90%;
    margin: 2rem auto;
    background-color: #523D1F;
    border-radius: 20px;
    padding: 50px;
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}
.banner-title{
    color: #fff;
    font-size: 3rem;
    width: 400px;
}
.banner-text{
    color: #fff;
    font-size: 16px;
}
.btn{
    font-weight: 500;
    background-color: #A42A15;
    width: 200px;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
}

.btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    left: 0;
    top: 0;
    background-color: #b30a07;
    transition: transform 0.5s ease-out;
    transform: scaleX(0);
    z-index: 5;
}
.btn:hover::after{
    transform: scaleX(1);
}

.banner-left a{
    text-decoration: none;
    color: #fff;
}
.banner-right{
    width: 60%;
}
.banner-right img{
    max-width: 100%;
    height: auto;
}
/* ==========================
   header style end
============================== */


/* ==========================
   main part football matches style start
============================== */
.football-matches{
    display: flex;
    width: 90%;
    margin: 2rem auto;
}
.matches-info{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 10px;
    background-color: #523D1F;
    border-radius: 10px;
}
.matches-info button{
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    box-shadow: 0 0 10px #333
}
.matches-info button a{
    text-decoration: none;
    color: #111;
}
#blog{
    background-color: #b30a07;
}
.matches{
    width: 80%;
   display: grid;
   grid-template-columns: repeat(3,1fr); 
   grid-gap: 25px;

}
span{
    margin: 0 10px;
}
.match{
    padding: 10px;
    background-color: #F2F3ED;
    border-radius: 10px;
}
.match img{
    width: 100%;
}
.match button{
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 5px;
}
.match > p{
    font-weight: 500;
    color: #111;
}
/* ========================== 
main part football matches style end
============================== */


/* ========================== 
footer style start
============================== */
footer{
    width: 100%;
    height: 50vh;
    background-color: #523D1F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer h1{
    position: relative;
    width: 100%;
}
footer h1::after{
    content: "";
    position: absolute;
    margin: auto;
    width: 85%;
    height: 2px;
    bottom: 1px;
    left: 0;
    right: 0;
    background-color: #9f9d9d;
}
footer ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 10px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    margin:10 10px;
}
footer ul li i{
    font-size: 30px;
}
#social-icons{
    display: flex;
    justify-content:center; 
}
#social-icons li{
    margin: 20px 10px;
}

/* ========================== 
footer style end
============================== */


/* ========================== 
upcomming page style start
============================== */
.match .img img{
    width: 25%;
}
.match .img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.upc-match{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-txt{
    margin: 10px;
}
#upc-click-btn{
    background-color: #b30a07;
}
#blg{
    background-color: #fff;
}

/* ========================== 
upcomming page style end
============================== */


/* ========================== 
animation start
============================== */
.banner-right img{
    position: relative;
    animation: run 5s infinite;
}

@keyframes run {
    0% {
        top:0;
        left: 0;
    }
    50% {
      left:30%;
      top: 10%;
    }
    75%{
        right:20%;
        bottom: 20%;
    }
    100%{
        top:0;
        left: 0;
    }
  }


/* ========================== 
animation end
============================== */



/* ==========================
media query start 
============================== */

/* for mobile  */

@media screen and (max-width: 767px){
/* header part  */
    .banner-container{
        flex-direction: column;
        align-items: center;
    }
    .banner-left{
        align-items: center;
    }
    .banner-left,.banner-right{

        text-align: center;
        width: 100%;
    }
    .banner-title {
        font-size: 1.5rem;
        width: 200px;
    }
    .btn{
        margin: 10px;
    }

/* main part football matches  */
.football-matches{
    flex-direction: column;
    align-items: center;
}
.matches-info{
    background-color: #fff;
    margin: 0;
}
.matches-info buttton{
    background-color: antiquewhite;
}
.matches{
    grid-template-columns: repeat(1,1fr);
}
.football-matches .btn{
    display: none;
}

/* footer  */
footer{
    height: 80vh;
    justify-content: flex-end;
}
footer>ul{
    flex-direction: column;
    align-items: center;
}

footer ul li a{
    margin:2px;
}
footer ul li i{
    font-size: 2em;
}
#social-icons{
    display: flex;
    flex-direction: row;
}
#social-icons li{
    margin: 5px;
}

}





/* for tab  */
@media screen and (max-width: 1023px) and (min-width: 767px){

.banner-title {
        font-size: 1.5rem;
        width: 200px;
    }
 /* main part football matches  */
 .football-matches{
    flex-direction: column;
    align-items: center;
 }
 .matches-info{
    width: 100%;
    height: 110px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    margin: 0;
 }
 .matches{
    width: 100%;
    grid-template-columns: repeat(2,1fr);
}

.matches-info button{
    background-color: antiquewhite;
    height: 55px;
    width: 190px;
}
.item7,.item8,.item9{
    display: none;
}
.football-matches .btn{
    display: block;
}
 /* footer  */
 footer{
    height: 80vh;
 }
}
/* for desktop  */
@media screen and (min-width: 1023px){
    .football-matches .btn{
        display: none;
    }
}
/* ==========================
media query end 
============================== */