/* import google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 209, 162);
}
 /* header part style start  */
 h1{
    font-size: 3rem;
 }
.carousel-item .carousel-caption{
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;
   top: 50%;                         
   transform: translate(0, -50%)
}
.carousel-inner::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}
.carousel-caption{
    z-index: 2;
}
 /* header part style end  */

 /* main part style start   */

 /* main part style end   */

 /* footer part style start   */

 /* footer part style end   */